.search-container {
  max-width: 120rem;
  padding: 1.6rem 1.8rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo {
  color: #FFF;
  font-size: 4rem;
  margin: 0 2.2rem;
}

.search {
  height: 4rem;
  width: 41.7%;
  padding: 0 4.4rem;
  max-width: 50rem;
  border-radius: 0.7rem;
  border: none;
  outline: none;
  font-size: 1.4rem;
  background: #FFF url('../../assets/icons/search-icon.svg') no-repeat left;
  background-position-x: 1rem;
  background-size: 2.4rem;
}